.home {
    .v-tab__slider {
        height: 6px !important;
        color: #5db097 !important;
        opacity: 1 !important;
    }

    .v-tab--selected .v-tab__slider {
        color: #fbb143 !important;
    }

    .v-card-title {
        font-size: 2rem;
    }

    .v-table {
        background: transparent !important;
    }

    .area-case {
        position: relative;
        margin-top: 40px;

        &::before {
            content: '';
            position: absolute;
            background: url(../images/home-area-case-bg.png) no-repeat;
            background-size: 60%;
            width: 540px;
            height: 455px;
            top: -200px;
            left: -15px;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 50%;
            top: 0;
            bottom: 0;
            background: linear-gradient(180deg, #F7F7F7 0%, rgba(242, 255, 235, 0) 100%);
            z-index: -1;
        }
    }

    .links {
        background: url(../images/home-link-bg-1.png) no-repeat;
        background-size: 100%;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 251px;
            height: 456px;
            right: -2px;
            top: 0;
            background: url(../images/home-link-bg-2.png) no-repeat right 0;
            background-size: 60%;
            z-index: -1;
        }
    }

    .video {
        position: relative;
        width: 100%;
        padding-top: calc(100% * 360 / 640);

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}